@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: fixed;
    color: white;
    width: 100%;
}

.links {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    justify-items: center;
    gap: 20px;
}

.info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    width: 100%;
}

.proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.323);
    color: white;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.612);
    box-shadow: rgba(77, 77, 77, 0.82) 0px 2px 30px;
}

.link_proyecto {
    background-color: rgba(0, 0, 0, 0.349);
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.612);
    transition: .5s ease-in-out;
}

.link_proyecto:hover {
    transform: scale(1.1);
}

a {
    font-family: "Rubik", sans-serif;
    ;
}

h1 {
    font-family: "Lora", serif;
    font-weight: 500;
    color: white;
    font-size: 30px;
}

.texto {
    font-family: "Lora", serif;
    margin: 30px 0;
    font-size: 40px;
}

.titulo_nombre {
    text-align: center;
}

/* RESPONSIVE */

@media (max-width:600px) {
    .proyectos {
        width: 80%;
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }

    .proyecto {
        width: 90%;
    }

    h1 {
        font-size: 25px;
    }

    .texto {
        font-size: 30px;
    }

    .titulo_nombre {
        font-size: 20px;
    }
}

@media((min-width:601px) and (max-width: 1200px)) {
    .proyectos {
        width: 80%;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 30px;
    }

    .proyecto {
        width: 90%;
    }

    h1 {
        font-size: 25px;
    }

    .texto {
        font-size: 30px;
    }

    .titulo_nombre {
        font-size: 20px;
    }
}