* {
    box-sizing: border-box;
    margin: 0
}

body {
    min-width: 300px;
}

a,
i {
    cursor: pointer;
}

.contenedor_prin {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: #F7F8FA;
}


/* SECCION 1 */

.seccion1 {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/EVIDENCIA_5/img/imagen_fondo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: ellipse(100% 100% at 50% 0%);
    position: relative;
    z-index: 10;
}

nav {
    width: 100%;
    position: absolute;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
    color: white;
    background-color: rgba(219, 219, 219, 0.156);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.info_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.info_menu_import {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.info_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.info_menu:nth-child(2) {
    gap: 40px;
}



.info_menu:nth-child(3) {
    width: 15%;
}

.search {
    width: 100%;
    padding: 4px 0;
    background-color: rgba(219, 219, 219, 0.156);
    border-radius: 20px;
}

.search p {
    margin: 0 10px;
}

.contenido_seccion1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.titulo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
}

.button_shop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    top: -40px;
    z-index: 20;
}

.button_shop div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 25px 0;
    background-color: #FFFFFF;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.button_shop a {
    text-decoration: none;
    font-weight: 800;
    color: #ACB4C3
}


/* SECCION 2 */

.seccion2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.encabezado_seccion2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 90px;
    font-weight: 800;
    padding: 0 15px;
    border-radius: 5px;
    box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, 0.043);
    border-bottom: 1px solid rgba(128, 128, 128, 0.119);
    color: #7f8eb1;
}


.encabezado_seccion2 span:first-child {
    display: flex;
    align-items: center;
    color: #6E7483;
    text-align: center;
    width: 22%;
}

.encabezado_seccion2 span:nth-child(2) {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 15px;
    text-align: center;
}

.encabezado_seccion2 span:nth-child(2) a:first-child {
    color: blueviolet;
}

.encabezado_seccion2 span:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 15px;
}

.email_sec2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

/* SECCION 3 */

.seccion3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    height: auto;
}

.contenedor_seccion3 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 80%;
}

.colum1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
}

.info {
    width: 100%;
}

.subtitulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 20px;
}

.subtitulo1 {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}


/* CATEGORIAS */

.categorias span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

.categorias span hr {
    width: 100%;
    margin: 0 10px;
    border: 1px solid rgb(223 224 225);
}

.precios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.precios span {
    display: flex;
    align-items: start;
    gap: 10px;
}

.precios span p {
    display: flex;
    align-items: center;
    height: 25px;
}

.precios span label {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: rgb(255 255 255);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in-out;
    cursor: pointer;
    border: 1px solid #bcbcbd;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.066);
}

.precios span label i {
    display: none;
    color: white;
    font-weight: 800;
}

.precios span input {
    display: none;
}

.precios span input:checked+label {
    background-color: rgb(0 117 255);
    border: none;
}

.precios span input:checked+label i {
    display: block;
    animation: che .4s ease-in-out;
}

@keyframes che {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* COLORES */

.colores {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50%;
}

.colores span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;

}

.colores input {
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: .2s ease-in-out;
    border: 1px solid rgba(97, 97, 97, 0.432);
}

/* PRIMEROS 6 */
.colores span:nth-child(1) input:nth-child(1) {
    background-color: white;
}

.colores span:nth-child(1) input:nth-child(2) {
    background-color: #c6c9d2;
}

.colores span:nth-child(1) input:nth-child(3) {
    background-color: #ead3a0;
}

.colores span:nth-child(1) input:nth-child(4) {
    background-color: #ffc341;
}

.colores span:nth-child(1) input:nth-child(5) {
    background-color: #ff6418;
}

.colores span:nth-child(1) input:nth-child(6) {
    background-color: #3daa39;
}

/* SEGUNDOS 6 */

.colores span:nth-child(2) input:nth-child(1) {
    background-color: #7986a0;
}

.colores span:nth-child(2) input:nth-child(2) {
    background-color: #9a9183;
}

.colores span:nth-child(2) input:nth-child(3) {
    background-color: #c22d69;
}

.colores span:nth-child(2) input:nth-child(4) {
    background-color: #da2f33;
}

.colores span:nth-child(2) input:nth-child(5) {
    background-color: #7536d1;
}

.colores span:nth-child(2) input:nth-child(6) {
    background-color: #bd702e;
}

.colores input:checked {
    border: 1px solid rgb(0, 0, 0);
}

.colores input:hover {
    border: 1px solid black;
    outline: 1px solid rgb(1, 1, 1);
    transform: scale(1.1);
}

/* SIZE */

.size {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
}

.size span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.size span:hover {
    background-color: #7986a02f;
}

.border_abajo {
    border-bottom: 1px solid black;
}

.border_derecha {
    border-right: 1px solid black;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.colum2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    gap: 20px;
}

.info_colum2 {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.card_zapato {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
    gap: 30px;
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.249);
    border: 1px solid rgba(128, 128, 128, 0.742);
}

.img_color {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    position: relative;
    width: 100%;
    height: 50%;
}

.img_color img {
    width: 280px;
    transition: .2s ease-in-out;
}

.z_1 {
    background-color: #cddabc;
}

.z_2 {
    background-color: #98c8d6;
}

.z_3 {
    background-color: #9a95bc;
}

.z_4 {
    background-color: #b1bdd0;
}

.z_5 {
    background-color: #dcd7db;
}

.z_6 {
    background-color: #becbc2;
}

.z_7 {
    background-color: #dbe1bd;
}

.z_8 {
    background-color: #d4c8b2;
}

.z_9 {
    background-color: #e3b4ba;
}

.info_2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 15px;
    margin-bottom: 30px;
}

.info_2 span {
    display: flex;
    justify-content: space-between;
}

.negrilla {
    font-weight: 700;
}


.carro_compras {
    display: flex;
    right: 20px;
    bottom: -20px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    font-size: 40px;
    color: #c5c9d4;
    border-radius: 50px;
    border: 1px solid rgba(128, 128, 128, 0.495);
    transition: .2s ease-in-out;
}

.carro_compras:hover {
    transform: scale(1.1);
    color: #6E7483;
    cursor: pointer;
}

.carro_compras i {
    padding: 5px;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 100px 0;
}

.cont_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    gap: 80px;
}

.contenido_footer {
    display: flex;
    align-items: start;
    width: 100%;
    ;
}

.contenido1 {
    display: flex;
    align-items: start;
    width: 50%;
    justify-content: space-between;
}

.contenido2 {
    display: flex;
    width: 40%;
    justify-content: end;
}

.contenido2 span:first-child {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.span_links_footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.contenido_footer2 {
    width: 100%;
    display: flex;
    justify-content: start;
}

.contenedor_2_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;

}

.contenedor_2_footer span:nth-child(2) {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 100px;
}

.s_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}


/* ESTILOS MENUS HAMBUERGUESA */

.menu_hambu_filtros,
.filtros,
.menu_prin,
.menu,
.menu_linea,
.menu_ordenar_por {
    display: none;
}

.a,
.b {
    height: 0;
    overflow: hidden;
}

nav .menu_linea {
    padding: 1.5px 15px;
    margin: 2.5px 0;
    background-color: rgb(255, 255, 255);
    transition: all .3s;
}

.filtros .menu_linea {
    padding: 1.5px 15px;
    margin: 3px 0;
    background-color: black;
    transition: all .3s;
}

/* ESTILOS MENU HAMBURGUESA PRINCIPAL */

.menu {
    align-items: center;
    justify-content: center;
    width: 0;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 20;
    transition: ease-in-out .3s;
    font-size: 22px;
    background-color: #ffffff;
}

.contenido_menu1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 90%;
    gap: 30px;
    margin: 0 20px;
}

.contenido_menu1 .info_menu {
    align-items: start;
}

.menu .linea {
    width: 100%;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}


.menu .info_menu:nth-child(1),
.menu .info_menu:nth-child(5) {
    flex-direction: column;
}

.menu .info_menu:nth-child(3) {
    gap: 10px;
    width: 60%;
    align-items: center;
    justify-content: start;
}

.menu .info_menu:nth-child(3) .search {
    width: 70%;
    background-color: #929292;
}

.menu .info_menu:nth-child(5) span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu .info_menu:nth-child(1) {
    gap: 20px;
}

.menu_prin:checked+.menu {
    width: 100%;
    height: 90vh;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 78px;
    overflow: auto;
}

.contenedor_prin:has(.menu_prin:checked) nav .info_nav .info_menu_import label .menu_linea:nth-child(1) {
    transform: rotate(45deg) translate(0px, -5px);
}

.contenedor_prin:has(.menu_prin:checked) nav .info_nav .info_menu_import label .menu_linea:nth-child(2) {
    display: none;
}

.contenedor_prin:has(.menu_prin:checked) nav .info_nav .info_menu_import label .menu_linea:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -5px);
}

.contenedor_prin:has(.menu_prin:checked) nav .info_nav .info_menu_import label {
    position: relative;
    top: 5px;
}



.contenedor_prin:has(.menu_prin:checked) nav {
    position: fixed;
    top: 0;
    background-color: #bdc0c585;
    backdrop-filter: blur(10px);
}

html:has(.menu_prin:checked) body {
    height: 0;
    overflow: hidden;
}

.titulo {
    text-align: center;
}

/* ESTILO MENU HAMBUERGUESA FILTROS */

.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.filtros {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.103);
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);
    margin-bottom: 40px;
}

.btn1 {
    border-radius: 30px;
    padding: 10px 10px;
}

.btn1 label span {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.btn2 {
    padding: 10px 15px;
    border-radius: 30px;
}

.btn2 label span {
    display: flex;
    align-items: center;
    gap: 20px;
}


.filtros p {
    font-size: 20px;
}

.filtros label i {
    font-size: 30px;
}


.menu_ordenar_por:checked+.b {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 60px;
    left: 20px;
    width: 200px;
    height: auto;
    background-color: rgb(255, 255, 255);
    z-index: 90;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.325);
    border: 1px solid rgba(128, 128, 128, 0.742);
    border-radius: 10px;
    transition: 0.2s all ease;
}

.b div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 10px;
}

.b div a {
    padding: 10px 5px;
}

.b div a:hover {
    background-color: #7986a02f;
}


.todo:has(#menu_hambu_filtros:checked) .filtros label span div span:nth-child(1) {
    transform: rotate(45deg) translate(0px, -7px);
}

.todo:has(#menu_hambu_filtros:checked) .filtros label span div span:nth-child(2) {
    display: none;
}

.todo:has(#menu_hambu_filtros:checked) .filtros label span div span:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -4px);
}


.menu_hambu_filtros:checked+.a {
    position: fixed;
    top: 0;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    margin: 40px 0;
    width: 100%;
}

.todo:has(#menu_hambu_filtros:checked) .filtros {
    position: fixed;
    top: 0;
    z-index: 40;
    margin: 0;
    background-color: #F7F8FA;
}

.todo:has(#menu_hambu_filtros:checked) .filtros .btn2 label span div {
    position: relative;
    top: 5px;
}

.todo:has(#menu_hambu_filtros:checked) .filtros .btn1 {
    display: none;
}

.todo:has(#menu_hambu_filtros:checked) .b {
    display: none;
}

.todo:has(#menu_hambu_filtros:checked) .filtros .btn2 {
    width: 100%;
}

.todo:has(#menu_hambu_filtros:checked) .filtros .btn2 label span {
    width: 100%;
    justify-content: space-between;
}

html:has(#menu_hambu_filtros:checked) body {
    height: 0;
    overflow: hidden;
}

.a .contenido {
    padding: 20px;
    margin: 40px 0;
}

.a {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    transition: ease-in-out .3s;
}

.a .size {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media ((max-width:500px)) {

    .encabezado_seccion2 span:nth-child(2),
    .seccion3,
    .info_nav {
        flex-direction: column;
    }

    .encabezado_seccion2 {
        flex-direction: column;
        height: auto;
        gap: 40px;
    }

    .encabezado_seccion2 span:first-child {
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
    }

    .encabezado_seccion2 span:nth-child(3) {
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .email_sec2 {
        gap: 50px;
    }


    /* ESTILOS MENUS */

    .filtros,
    .menu,
    .menu_linea {
        display: flex;
    }

    .info_nav .info_menu {
        display: none;
    }

    .info_menu_import {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .info_menu_import i {
        display: none;
    }

    .info_nav label {
        display: flex;
        flex-direction: column;
    }

    .contenedor_seccion3,
    .colum2 {
        grid-template-columns: 1fr;
        width: 95%;
        justify-items: center;
    }

    .colum1,
    .seccion2 {
        display: none;
    }


    /* ESTILOS SECCION 3 */
    .seccion3 {
        margin: 0;
    }

    .img_color img {
        width: 240px;
    }

    .info_colum2 {
        width: 100%;
    }

    .contenido1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: auto;
        gap: 40px;
        order: 2;
    }

    .contenido2 {
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .contenido2 span:first-child {
        width: 100%;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .span_links_footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    footer {
        margin: 50px 0;
    }

    .cont_footer {
        gap: 50px;
    }

    .contenido_footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .contenido_footer2 {
        justify-content: center;
        align-items: center;
    }

    .contenedor_2_footer {
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }

    .s_1 {
        width: 100%;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .contenedor_2_footer span:nth-child(2) {
        gap: 20px;
    }
}

@media ((min-width:501px) and (max-width:700px)) {

    .encabezado_seccion2 span:nth-child(2),
    .seccion3,
    .info_nav {
        flex-direction: column;
    }

    .encabezado_seccion2 {
        flex-direction: column;
        height: auto;
        gap: 40px;
    }

    .encabezado_seccion2 span:first-child {
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
    }

    .encabezado_seccion2 span:nth-child(3) {
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .email_sec2 {
        gap: 50px;
    }


    /* ESTILOS MENUS */

    .filtros,
    .menu,
    .menu_linea {
        display: flex;
    }

    .info_nav .info_menu {
        display: none;
    }

    .info_menu_import {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .info_menu_import i {
        display: none;
    }

    .info_nav label {
        display: flex;
        flex-direction: column;
    }

    .contenedor_seccion3 {
        width: 90%;
        grid-template-columns: 1fr;
    }

    .colum2 {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }


    .colum1,
    .seccion2 {
        display: none;
    }


    /* ESTILOS SECCION 3 */
    .seccion3 {
        margin: 0;
    }

    .img_color img {
        width: 220px;
        height: 100%;
    }

    .info_colum2 {
        width: 100%;
    }

    .contenido1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: auto;
        gap: 30px;
        order: 2;
    }

    .contenido2 {
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .contenido2 span:first-child {
        width: 100%;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .span_links_footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    footer {
        margin: 50px 0;
    }

    .cont_footer {
        gap: 50px;
    }

    .contenido_footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .contenido_footer2 {
        justify-content: center;
        align-items: center;
    }

    .contenedor_2_footer {
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }

    .s_1 {
        width: 100%;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .contenedor_2_footer span:nth-child(2) {
        gap: 20px;
    }
}

@media ((min-width:701px) and (max-width:920px)) {

    .seccion3,
    .info_nav {
        flex-direction: column;
    }

    .encabezado_seccion2 {
        flex-direction: column;
        height: auto;
        gap: 40px;
    }

    .encabezado_seccion2 span:first-child {
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
    }

    .encabezado_seccion2 span:nth-child(3) {
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .email_sec2 {
        gap: 50px;
    }

    /* ESTILOS MENUS */


    .filtros,
    .menu,
    .menu_linea {
        display: flex;
    }

    .info_nav .info_menu {
        display: none;
    }

    .info_menu_import {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .info_menu_import i {
        display: none;
    }

    .info_nav label {
        display: flex;
        flex-direction: column;
    }

    .contenedor_seccion3 {
        width: 90%;
        grid-template-columns: 1fr;
    }

    .colum2 {
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .colum1,
    .seccion2 {
        display: none;
    }


    /* ESTILOS SECCION 3  */

    .seccion3 {
        margin: 0;
    }

    .img_color img {
        width: 280px;
    }

    .info_colum2 {
        width: 100%;
    }

    .contenido1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: auto;
        gap: 30px;
        order: 2;
    }

    .contenido2 {
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .contenido2 span:first-child {
        width: 100%;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .span_links_footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer {
        margin: 50px 0;
    }

    .cont_footer {
        gap: 50px;
    }

    .contenido_footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .contenido_footer2 {
        justify-content: center;
        align-items: center;
    }

    .contenedor_2_footer {
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }

    .s_1 {
        width: 100%;
        justify-content: center;
        text-align: center;
        gap: 30px;
    }

    .contenedor_2_footer span:nth-child(2) {
        gap: 20px;
    }
}

@media ((min-width:921px) and (max-width:1024px)) {

    .seccion3,
    .info_nav {
        flex-direction: column;
    }

    .encabezado_seccion2 {
        display: none;
    }

    .encabezado_seccion2 span:first-child {
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
    }

    .encabezado_seccion2 span:nth-child(3) {
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .email_sec2 {
        gap: 50px;
    }

    /* ESTILOS MENUS */


    .filtros,
    .menu,
    .menu_linea {
        display: flex;
    }

    .info_nav .info_menu {
        display: none;
    }

    .info_menu_import {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .info_menu_import i {
        display: none;
    }

    .info_nav label {
        display: flex;
        flex-direction: column;
    }

    .contenedor_seccion3 {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

    .colum2 {
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .colum1,
    .seccion2 {
        display: none;
    }


    /* ESTILOS SECCION 3  */

    .seccion3 {
        margin: 0;
    }

    .img_color img {
        width: 100%;
    }

    .info_colum2 {
        width: 100%;
    }

    .contenido1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: auto;
        gap: 30px;
        order: 2;
    }

    .contenido2 {
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .contenido2 span:first-child {
        width: 100%;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .span_links_footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer {
        margin: 50px 0;
    }

    .cont_footer {
        gap: 50px;
    }

    .contenido_footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .contenido_footer2 {
        justify-content: center;
        align-items: center;
    }

    .contenedor_2_footer {
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }

    .s_1 {
        width: 100%;
        justify-content: center;
        gap: 30px;
    }

    .contenedor_2_footer span:nth-child(2) {
        gap: 20px;
    }
}

@media ((min-width:1025px) and (max-width:1500px)) {

    .seccion3 {
        flex-direction: column;
    }

 
    /* ESTILOS MENUS */

    .filtros,
    .menu,
    .menu_linea,
    .a {
        display: none;
    }

    /* ESTILOS SECCION2 */
    .encabezado_seccion2 {
        width: 90%;
        gap: 50px;
    }

    .encabezado_seccion2 span:first-child {
        text-align: center;
        width: 34%;

    }

    .encabezado_seccion2 span:nth-child(2) {
        justify-content: end;

    }

    .encabezado_seccion2 span:nth-child(3) {
        align-items: center;
    }

    .contenedor_seccion3 {
        width: 90%;
        grid-template-columns: 1fr 2fr;
    }

    .colum1 {
        justify-content: normal;
        position: sticky;
        top: 20px;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        padding-right: 10px;
        margin: 0;
    }

    .colum2 {
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 10px;
    }

    /* ESTILOS SECCION 3  */

    .img_color img {
        width: 90%;
    }

    .info_colum2 {
        width: 100%;
    }

    .cont_footer {
        width: 85%;
    }

    .contenido1 {
        width: 64%;
        gap: 30px;
        padding: 0 15px;
    }

    .contenido2 {
        width: 32%;
    }


}