*{
    box-sizing: content-box;
}

#cont_citas{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 100%;
}

.CardCita{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 30% ;
}