* {
    box-sizing: content-box;
}
body{
    min-width: 300px;
}

/* ESTILO CONTENEDOR PRINCIPAL */

.cont_prin {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: #1A2026;
    min-height: 100vh;
}

.cont_prin h2 {
    color: #4384B4;
}

.f {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 40px;
    padding: 30px 0;
    color: #4384B4;
    background-color: #9babc10c;

}

.cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 30px 10px;
    border-radius: 10px;
}

.cont_filtro {
    display: flex;
    justify-content: space-between;
    width: 50%;
    gap: 20px;
    color: #ffffff;
}

.filtro_estado {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 20px;
}


.filtro_estado select {
    width: 60%;
    max-width: 200px;
}

.filtro_buscar {
    display: flex;
    align-items: center;
    width: 50%;
}


.search:focus {
    box-shadow: 0 0 1px 1px #9babc110 !important;
}


#filtro:focus {
    box-shadow: 0 0 2px 1px #9babc1 !important;
}

.btn_nueva_cita {
    background-color: #26427B !important;
    border: 1px solid #284989 !important;
}

.btn_nueva_cita:hover {
    background-color: #2d5bb6 !important
}

#texto {
    text-align: center;
    color: #ffffff;
}

#cont_citas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    row-gap: 20px;
    gap: 20px;
}

.CardCita {
    display: flex;
    flex-direction: column;
    background-color: #4b535a68;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.2);
    gap: 10px;
    transition: all .4s ease-in-out;
    word-break: break-word;
    justify-content: space-between;
    font-size: 17px;
    color: #ffffff;
}

.CardCita:hover {
    transform: translateY(-1px);
    box-shadow: 0 0 5px 4px rgba(89, 86, 86, 0.112);
}

.contenido_cita {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info_conte {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.contenido_cita p {
    margin: 0;
}

.fecha_hora {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.negrilla {
    font-weight: 700;
}

.numero_cita {
    color: #c0ccd579;
    font-size: 20px;
}

.cont_buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}


button[name='editar'] {
    border-radius: 5px;
    padding: 5px 20px;
    background-color: #203A6D;
    color: #ffffff;
    border: 1px solid #000000;
    width: 50%;
    transition: all .3s ease-in-out;
}

button[name='editar']:hover {
    background-color: #026cc9be;
    box-shadow: 0 1px 2px 1px #026cc9be;
}

button[name='eliminar'] {
    border-radius: 5px;
    padding: 5px 20px;
    background-color: #752527;
    color: #ffffff;
    border: 1px solid #000000;
    width: 50%;
    transition: all .3s ease-in-out;
}

button[name='eliminar']:hover {
    background-color: #cf0a03be;
    box-shadow: 0 1px 2px 1px #cf0a03be;
}

.cont_img_nombre {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.img_animal {
    width: 80px;
    height: 80px;
    filter: drop-shadow(0 0 5px rgba(72, 72, 72, 0.288));
}


@media (max-width:1500px){
    .cont {
        align-items: end;
        padding: 0;
        gap: 20px;
    }

    .cont_filtro {
        width: 70%;
        justify-content: start;
    }

    .filtro_estado{
        max-width: 300px;
    }

    .filtro_buscar {
        max-width: 400px;
    }

    #cont_citas {
        grid-template-columns: 1fr 1fr 1fr;
    }
}



@media (max-width:1100px){
    .cont {
        align-items: end;
        padding: 0;
        gap: 20px;
    }

    .cont_filtro {
        width: 70%;
        justify-content: start;
    }

    .filtro_estado {
        width: 70%;
    }

    .filtro_buscar {
        width: 80%;
        
    }

    #cont_citas {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 900px) {
    .cont {
        flex-direction: column;
        align-items: end;
        width: 90%;
        padding: 0;
        gap: 20px;
    }

    .cont_filtro {
        width: 100%;
    }

    .filtro_estado {
        width: 100%;
    }

    .filtro_buscar {
        width: 100%;
        
    }

    #cont_citas {
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }
}


@media (max-width:600px) {
    .cont {
        flex-direction: column;
        align-items: end;
        width: 95%;
        padding: 0;
        gap: 20px;
    }

    .cont_filtro {
        flex-direction: column;
        width: 100%;
    }

    .filtro_estado {
        width: 100%;
    }

    .filtro_buscar {
        width: 100%;
    }

    #cont_citas {
        grid-template-columns: 1fr;
        width: 95%;
    }
}